
.content-login {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-login > p {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #1f1f1f;
    text-align: center;
  }
  
  
  .content-login > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
  
  
  .content-login form label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
    
  }
  
  
  .content-login form label span {
    font-weight: normal;
    color: #999;
    font-size: 12px;
  }
  
  .content-login form input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
    width: 100%;
  }

  
.content-login button.btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #59C9A5;
    color: #fff;
    cursor: pointer;
  
  }
  
  
  .content-login button.btn:hover {
    background-color:rgb(78, 167, 138);
  }



  .content-login > .content-register {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
  }

  .content-login  > .content-register > p {
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
    color: #1f1f1f;
    text-align: center;
    
  }

  .content-login  > .content-register > a {
    font-size: 15px;
    line-height: 20px;
    color: rgb(66, 143, 119);
    text-align: center;
    text-decoration: none;
  }